/*--------------------------------------------------------------
# banner Section
--------------------------------------------------------------*/
.banner {
  /*height: 45vh;*/
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}
.banner:before{
	content: '';
	background: rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.banner h3{
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}
.banner p{
  margin-top: -40px;
  /*color: #fff;
  text-align: justify;*/
}
@media (min-width: 1365px) {
  .banner {
    background-attachment: fixed;
  }
}

.banner h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.banner p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}
.banner .icon-box .icon i{
	font-size: 65px;
}
.banner .icon-boxes{
	z-index: 5000;
}

/*--------------------------------------------------------------
# mission Section
--------------------------------------------------------------*/
.mission,.mission-scd{
	position: relative;
}

.mission .mission-img{
	/*height: 420px;*/
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	/*border-radius: 100px;*/
	border-top-left-radius: 600px;
	border-bottom-left-radius: 600px;
	border-top-right-radius: 300px;
	border-bottom-right-radius: 300px;
}
.mission-img h1{
	 font-size: 3rem;
	 color: brown;
	 font-weight: 800;
	 padding-left: 10px;
}

.mission-scd .mission-scd-img{
	/*height: 420px;*/
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	/*border-radius: 100px;*/
	border-top-right-radius: 600px;
	border-bottom-right-radius: 600px;
	border-top-left-radius: 300px;
	border-bottom-left-radius: 300px;
}

.mission-scd-img h1{
	 font-size: 3rem;
	 color: brown;
	 font-weight: 800;
	 padding-left: 10px;
}


/*--------------------------------------------------------------
# VALUES SECTION
--------------------------------------------------------------*/
.values-image-first{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	min-height: 350px;
	min-width: 100%;
}
#values-image-scd{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	min-height: 200px;
	min-width: 46%;
	margin-left: 10px;
}
#values-image-thrt{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	min-height: 200px;
	max-width: 45%;
	margin-left: 20px;
}

.values-box{
	margin-bottom: 15px;
	padding: 05px 20px;
	/*background-color: red;*/
}

.values-box .percent{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border:4px solid purple;
	color: purple;
}
.values-box .value-text{
	padding-left: 50px;
	padding-top: 3px;
}
.values-box .value-text h5{
	font-weight: bold;
	color: purple;
}


/*--------------------------------------------------------------
# ABOUT Section
--------------------------------------------------------------*/

.why-us-img-top{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	min-height: 300px;
	max-width: 500px;
	margin-bottom: 150px;
}
.why-us-img-top .why-us-img-middle{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	min-height: 200px;
	width: 450px;
	margin-top: 270px;
	margin-left: 200px;
	position: absolute;
	border:8px solid white;
}

.why-us-img-bottom{
	background:url("../img/pers.jpeg") top center no-repeat;
	background-size: cover;
	border-radius: 10px;
	height: 300px;
	max-width: 500px;
}

.why-us-box .box-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.why-us-box .box-icon i{
	font-weight: bold;
	font-size: 1rem;
}
.why-us-box .box-title h5{
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: capitalize;
}



/*--------------------------------------------------------------
# STATS SECTION
--------------------------------------------------------------*/
.stats .card{
	border:none;
	margin-right: 40px;
 }
 
.stats .card-body h1{
	font-size: 3.1rem;
	padding: 10px;
 	text-align: center;
	font-weight: bold;
	color: orange;
}
.stats .card-footer
{ 
  	border:none;
 	padding-bottom: 30px;
}
.stats .stats-box{
 	border-radius: 10px;
	padding: 8px  5px;
}


/*--------------------------------------------------------------
# TESTIMONIALS SECTION
--------------------------------------------------------------*/
.testimonial .testimonial-carousel,
.testimonial .testimonial-slider {
  overflow: hidden;
}

.testimonial .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}
 
.testimonial .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonial .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.testimonial .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonial .testimonial-item .quote-icon-left,
.testimonial .testimonial-item .quote-icon-right {
  color: #fceaea;
  font-size: 26px;
}

.testimonial .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonial .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonial .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.testimonial .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.testimonial .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}