.form-section{
  display: none;
}
.form-section.current{
  display: inherit;
}
.parsley-errors-list{
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  color: red;
}
.form-navigation{
  display: flex;
  justify-content: space-between;
}

.form-organization,.budget-yes-form,.budget-no-form{
	display: none;
}
.type-section{
	margin-top: 10px;
	height: 100vh;
}
 
  