.services-banner{
  	background-color: #000;
   	background-size: cover;
	position: relative;
}
.services-banner:before{
	content: ' ';
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
.services-banner h3{
 	color: #ffff;
	font-weight: bold;
	font-size: 1.3rem;
  	text-transform: uppercase;
}
.services-banner .banner-description{
	color: #ffff;
 	font-size: 1rem;
	font-weight: 500;
}

.system-img img{
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;

	border-top-left-radius: 400px;
	border-bottom-left-radius: 400px;
}

.realizations .realizations-carousel,
.realizations .realizations-slider {
  overflow: hidden;
}
.realizations .realization-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}
.realizations .realization-item .realization-img {
  width: 100%;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.realizations .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.realizations .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.realizations .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}
.realization-item  .card-body:before{
	content: '';
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
}

#word-section{
	height: 450px;
	background: url("../img/hero-bg.jpg") top center no-repeat;
	background-size: cover;
	position: relative;
}