.type-section{
	margin-top: 80px;
	height: 100vh;
}
.type-section .header-section{
	padding: 10px 0 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 80px;

}
.type-section .header-section .content-type{
	align-items: center;
}